*{
    margin: 0px;
    padding: 0px;
}


.fbody{
    background-color: #FBE8A6;
    border: 1px solid rgb(243, 213, 104);
    border-radius: 8px;
    margin: 30px auto;
    width: 500px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;

}


body{
    background-color: #F4976c;
    color: rgb(235, 70, 29);
    font-size: 20px;
}
