{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CATMIMI</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/formulario_mascota.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div id="cabecera">
        <header>
            <div id="logo" class="centrado">
                <a href="home.html">
                <img src="{% static 'img/logo.png' %}" alt="logo" /> 
                </a>
                </div>
                        
            <div id="menu" class="centrado">
                <nav>
                <a href="{% url 'post_list' %}">Inicio</a>
                <a href="https://www.instagram.com/gatitosygatos/?hl=es-la">Nuesta Fundacion</a>
                <a href="{% url 'post_web2' %}">Adopta Un Gatito</a>
                <a href="{% url 'post_web3' %}">Contáctanos</a>
                <a href="{% url 'register_url'%}">Registrate</a>
                <a href="{% url 'login_url'%}">Inicia Sesion</a>
                </nav>
            </div>
        </header>
    </div>

<div id="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url('/static/img/1.jpg')"></div>
                    <div class="swiper-slide" style="background-image:url('/static/img/2.jpg')"></div>
                    <div class="swiper-slide" style="background-image:url('/static/img/3.jpeg')"></div>
                    <div class="swiper-slide" style="background-image:url('/static/img/4.jpg')"></div>
                    <div class="swiper-slide" style="background-image:url('/static/img/5.jpg')"></div>
                    <div class="swiper-pagination"></div>
             </div>
         </div>
</div>

  <script src="{% static 'js/swiper.min.js' %}"></script>
  <script src="{% static 'js/home.js' %}"></script>

<div id="nosotros">
        <div class="centrado">
            <h2>Nuestra Fundacion</h2>
            <div id="parrafo">
                <p>Adopta un amborgueza que tome aguita de uwu y juguito de chale "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
            <iframe src="https://player.vimeo.com/video/28164488" width="640" height="360" allow="autoplay; fullscreen" allowfullscreen class="video"></iframe>
        </div>  
</div>

<div id="Gatitos" class="centrado" >
    <h3 class="title clr">Nuestros Gatitos</h3>
    <div class="row">
        <div class="col-md-4">
                    
        </div>
        <div class="col-md-1">
            <h4>Gatos Bebés</h4>
                <img src="{% static 'img/gatito.jpg' %}" alt="foto" width="90" height="100" />
        </div>
        <div class="col-md-1">
            <h4>Gatos Adultos</h4>
                <img src="{% static 'img/gatos.jpg' %}" alt="foto" width="90" height="100" />
        </div>
        <div class="col-md-1">
            <h4>Razas Especiales</h4>
                <img src="{% static 'img/razas.jpg' %}" alt="foto" width="90" height="100" />
        </div>
        <div class="col-md-1">
                <h4>Razas Especiales</h4>
                    <img src="{% static 'img/razas.jpg' %}" alt="foto" width="90" height="100" />
            </div>
        <div class="col-md-4">
                    
        </div>
    </div>
    <div class="row reserva">
            <div class="col-md-4">
                    
            </div>
            <div class="col-md-4">
                2019 CATMIMI, Inc.      
            </div>
            <div class="col-md-4">
                    
            </div>
    </div>
</div>
</body>
</html>